<section class="home" >
<div class="coverBgImage" style="">

  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="slide">
          <div class="container">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="vert-center text-info">
                <h1 >Get your freebie!</h1>
                <p>{{page.description}}</p>
                <div class="well">
                  <!-- NEWSLETTER FORM -->
                  <form class="form-horizontal" action="https://www.getdrip.com/forms/1513607/submissions" method="post" data-drip-embedded-form="1513607" name="mc-embedded-subscribe-form" class="validate">
                    <div class="form-group">
                      <div class="col-md-10 col-offset-md-2 input">
                        <label class="sr-only" for="fields[first_name]">First Name</label>
                        <input type="text" id="name" name="fields[first_name]" required placeholder="First Name">
                      </div>

                      <div class="col-md-10 col-offset-md-2 input">
                        <label class="sr-only" for="fields[email]">Email</label>
                        <input type="email" required placeholder="Email Address" name="fields[email]">
                      </div>

                      <input type="hidden" value="{{ page.genre }}" name="tags[]" id="genre" >
                      <input type="hidden" value="" name="book_signed_up_from" id="bookName">

                      <div style="margin-top: 15px" class="col-md-5">
                        <button type="submit" class="red-button">Get your copy now</button>
                      </div>
                    </div>
                  </form>

                  <!-- END -->
                </div>
                <!-- <a href="#" class="black-button">PURCHASE eBOOK   $88</a> -->
              </div>
            </div>
            <div class="col-md-6 book-image hidden-sm hidden-xs" >
              <img src="{{ page.image }}" class="vert-center img-responsive" alt="Do Anything book" title="Do Anything book"/>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
